.botones-derecha,
.boton-fin-turno{
    -fx-background-color: #C3F6FF;
    -fx-background-radius: 5px;
    -fx-text-fill: #2C2470;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-font-family: "Minecraft";
    -fx-cursor: hand;
}

.boton-ayuda {
    -fx-background-color: #C3F6FF;
    -fx-background-radius: 5px;
    -fx-text-fill: #2C2470;
    -fx-font-size: 15px;
    -fx-font-family: "Minecraft";
    -fx-cursor: hand;
}

.botones-derecha:pressed,
.boton-fin-turno:pressed,
.boton-ayuda:pressed {
    -fx-opacity: 0.6;
}
