/* STYLES TITULOJUEGO */
.boton-comenzar {
    -fx-background-color: #fcff68;
    -fx-text-fill: #760A17;
    -fx-background-radius: 100px;
    -fx-border-width: 0;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-font-family: "Minecraft";
    -fx-cursor: hand;
}

.boton-salir {
    -fx-background-color: #b20a17;
    -fx-text-fill: #FCFF68;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-font-family: "Minecraft";
    -fx-cursor: hand;
}

.boton-comenzar:pressed,
.boton-salir:pressed {
    -fx-opacity: 0.6;
}

/* STYLES SELECCIONJUGADORES */
.panel-cantidad {
    -fx-background-color: #93FFFF;
    -fx-background-radius: 10;
    -fx-font-family: 'Minecraft';
}

.texto-ingrese {
    -fx-text-fill: #31278C;
    -fx-font-size: 30px;
    -fx-alignment: center;
}

.boton-confirmar {
    -fx-font-size: 24px;
    -fx-text-fill: #31278C;
    -fx-background-color: #D8F9FF;
    -fx-border-radius: 7;
    -fx-border-width: 1;
    -fx-border-color: #31278C;
    -fx-cursor: hand;
}

.boton-confirmar:pressed,
.boton-volver-atras:pressed {
    -fx-opacity: 0.6;
}

.input-cantidad {
    -fx-text-fill: #31278C;
    -fx-opacity: 80;
    -fx-font-size: 27px;
    -fx-alignment: center;
}

.texto-jugador {
    -fx-text-fill: #4035a9;
    -fx-font-size: 25px;
    -fx-alignment: center;
}

.input-nombre-jugador {
    -fx-text-fill: #31278C;
    -fx-font-size: 20px;
    -fx-background-radius: 5;
}

.selector-color {
    -fx-background-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: #4332c5;
    -fx-border-width: 1.5;
    -fx-text-fill: #31278C;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.boton-volver-atras {
    -fx-font-size: 18px;
    -fx-background-color: #93FFFF;
    -fx-text-fill: #31278C;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}